<h1>An issue has been created!</h1>

<p>Hi, how are you? We just wanted you to 
know a new issue has been created.</p>

<h2><%= @issue.title %></h2>

<blockquote>
  <%=@issue.description%>
</blockquote>

<p>
  <strong>Number of followers</strong>:
  <%=@issue.no_followers%>
</p>

